<div class="products-container">
  <h2>Cadastro de Produto</h2>

  <form [formGroup]="productForm" (ngSubmit)="createProduct()" class="product-form">
    <mat-form-field appearance="outline">
      <mat-label>Código</mat-label>
      <input matInput formControlName="code" placeholder="Ex: PROD-001">
    </mat-form-field>

    <mat-form-field appearance="outline" class="desc-field">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="description" placeholder="Ex: Notebook Dell">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Saldo Inicial</mat-label>
      <input matInput type="number" formControlName="balance">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid || isLoading">
      SALVAR
    </button>
  </form>

  <hr class="divider">

  <h2>Estoque Atual</h2>

  <table mat-table [dataSource]="products" class="mat-elevation-z2">
    <!--    Coluna pro codigo-->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- descricao -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- saldo -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef> Saldo Real </th>
      <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
    </ng-container>

    <!-- saldo disponivel -->
    <ng-container matColumnDef="availableBalance">
      <th mat-header-cell *matHeaderCellDef> Saldo Disponível </th>
      <td mat-cell *matCellDef="let element"
          [class.no-stock]="element.availableBalance === 0">
        {{element.availableBalance}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="products.length === 0" class="empty-state">
    Nenhum produto cadastrado ainda.
  </div>
</div>
